.container {
  margin: 30px 30px;
  filter: drop-shadow(10px 10px 32px rgba(0, 0, 0, 0.25));
  max-width: 300px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  border-radius: 12px;

  .content {
    margin: auto;
    max-width: 250px;
    padding: 20px;
    .image {
      width: 100%;
    }
    
    .title {
      margin: 0 10px;
      display: flex;
      justify-content: space-between;
    }
    .btn {
      display: flex;
      justify-content: space-between;
      .itemBuy {
        color: #ff912b;
        cursor: pointer;
      }
      .itemBuy:hover {
        color: rgb(69, 172, 227);
      }
      .btn1 {
        display: flex;
        .b1:hover {
          color: #FF902B;
          border: 1px solid #FF902B;
        }
        .b1 {
          margin-right: 5%;
          cursor: pointer;

          font-family: "EB Garamond", serif;
          font-style: bold;
          font-size: 15px;
          text-align: center;
          width: 50px;
          border: 1px solid #ffd28f;
          border-radius: 8px;
          color: #ffd28f;
        }
      }
    }
  }
  
}
.display {
  
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 72px;
  align-items: center;
  border-radius: 0.5rem;
  height: auto;
  padding: 2px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  .close {
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    height: 2.5rem;
    background-color: rgb(37 99 235);
    color: rgb(255 255 255);
    border-radius: 0.375rem; /* 6px */
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }
  .close:hover{
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  }
}
