.container {
  display: flex;
  @media (min-width: 768px) {flex-direction: column;}
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  .button {
    display: flex;
    gap: 20px;
  }
  .display {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 72px;
    align-items: center;
    border-radius: 0.5rem;
    height: auto;
    padding: 2px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
    .close {
      margin-top: 5px;
      margin-bottom: 5px;
      width: auto;
      padding-left: 5px;
      padding-right: 5px;
      height: 2.5rem;
      background-color: rgb(37 99 235);
      color: rgb(255 255 255);
      border-radius: 0.375rem; /* 6px */
      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    }
    .close:hover{
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    }
  }
}
